<!doctype html>

<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>pyctrl webserver</title>
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pyctrl.css') }}">
	<script>

	 function populate_block(obj, type, id) {
	     // load into div
	     obj.find("p").load('html/' + type + '/' + id);
	     obj.css({'height': 'auto'});
	 }
	 
	 $( function() {
	     $(".accordion").accordion({
		 collapsible: true,
		 heightSyle: "fill",
		 active : false,
		 activate: function(event, ui){
		     console.log(this);
		     var obj = $(this).find('.ui-state-active');
		     var id = obj.attr('id');
		     var class_name = obj.attr('class').split(' ');
		     console.log(id);
		     console.log(class_name);
		     var match = /(source|filter|sink|timer)/.exec(class_name);
		     console.log(match);
		     if (match == null) {
			 console.log('ERROR');
			 return
		     } else {
			 match = match[1];
		     }
		     // populate block
		     var div = obj.next("div");
		     console.log(div);
		     populate_block(div, match, id);
		 }
	     });
	     $(".accordion").accordion("option", "heightStyle", "fill");

	 });
	</script>
    </head>
    <body>
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="flashes">
	    <ul class="flashes">
		{% for message in messages %}
		<li><pre>{{ message }}</pre></li>
		{% endfor %}
	    </ul>
	</div>
	<script>
	 // reload
         setTimeout(function() {
	     window.location.reload(true);
	 }, 10000);
	</script>
	{% endif %}
	{% endwith %}
	
	<h1>{{ class_name }}</h1>

	<h2>Status:</h2>

	<p class="status">
	    {% if is_running %} Running {% else %} Stopped {% endif %}
	</p>
	
	<h2>Actions:</h2>
	
	<ul class="actions">
	    <li>
		<form action="{{ baseurl }}/upload"
		      method="post"
		      enctype="multipart/form-data">
		    <input class="button" type="submit" value="Upload" />
		    <input type="file" name="file" />
		</form>
	    </li>
	    <li>
		<form action="{{ baseurl }}/download">
		    <input class="button" type="submit" value="Download" />
		</form>
	    </li>
	    <li>
		<form action="{{ baseurl }}/start?next=/">
		    <input type="hidden" name="next" value=".index">
		    <input class="button" type="submit" value="Start" />
		</form>
	    </li>
	    <li>
		<form action="{{ baseurl }}/stop">
		    <input type="hidden" name="next" value=".index">
		    <input class="button" type="submit" value="Stop" />
		</form>
	    </li>
	</ul>
	
	<h2>Signals:</h2>
	<form action="{{ baseurl }}/scope">
	    <ul class="signals">
		{% for s in signals %}
		<li><input type="checkbox" name="signals" value="{{ '"' + s + '"'}}">&nbsp;<a href="{{ baseurl }}/get/signal/{{ s }}">{{ s }}</a></li>
		{% endfor %}
	    </ul>
	    <ul class="actions">
		<li>
		    <input class="button" type="submit" value="Scope">
		</li>
	    </ul>
	</form>
	<h2>Sources:</h2>
	<div class="accordion blocks sources" id="source">
	    {% for s in sources %}
	    <h3 class="source" id="{{ s }}">{{ s }}</h3>
	    <div class="source" id="{{ s }}" style="height: auto">
		<p>Loading...</p>
	    </div>
	    {% endfor %}
	</div>
	<h2>Filters:</h2>
	<div class="accordion blocks filters" id="filter">
	    {% for s in filters %}
	    <h3 class="filter" id="{{ s }}">{{ s }}</h3>
	    <div class="timer" id="{{ s }}" style="height: auto">
		<p>Loading...</p>
	    </div>
	    {% endfor %}
	</div>
	<h2>Sinks:</h2>
	<div class="accordion blocks sinks" id="sink">
	    {% for s in sinks %}
	    <h3 class="sink" id="{{ s }}">{{ s }}</h3>
	    <div class="timer" id="{{ s }}" style="height: auto">
		<p>Loading...</p>
	    </div>
	    {% endfor %}
	</div>
	<h2>Timers:</h2>
	<div class="accordion blocks timers" id="timer">
	    {% for s in timers %}
	    <h3 class="timer" id="{{ s }}">{{ s }}</h3>
	    <div class="timer" id="{{ s }}" style="height: auto">
		<p>Loading...</p>
	    </div>
	    {% endfor %}
	</div>
    </body>
</html>
