<!DOCTYPE html>
<meta charset="utf-8">
<style>

 .axis--x path {
     display: none;
 }

 .plot_line {
     fill: none;
     stroke: steelblue;
     stroke-width: 1.5px;
 }

</style>
<svg width="800" height="600"></svg>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/plot.js') }}"></script>

<script>

 var signals = {{ signals|tojson }};
 console.log("signals");
 console.log(signals);

 // get_data
 var plot = {};
 var last_date = -1;
 function get_data(fun, interval) {
     $.get("{{ baseurl }}/get/sink/_scope",
	   {
	       "keys": JSON.stringify("log")
	   },
	   function(data) {
	       
	       if (data.status == "error") {
		   console.log("Could not get data. Message = " + data.message);
		   return
	       }

	       // flatten data
	       var points = _.pluck(data.log, "object");
	       points = _.map(points, function(e) {
		   return _.flatten(e);
	       });
	       data = _.object(Object.keys(data.log), points);
	       //console.log(data);

	       var len = _.chain(data)
			  .mapObject(function(val) {
			      return val.length;
			  })
			  .values()
			  .first()
			  .value();
	       //console.log("length = ", len);

	       var dates = _.flatten(data.clock);
	       delete data.clock;
	       last_date = dates[dates.length - 1];
	       //console.log(dates);
	       
	       var series = _.chain(data)
			     .mapObject(function(values, i) {
				 return _.map(values,
					      function(v, i) {
						  return {date: dates[i],
							  value: v};
					      });
			     })
			     .map(function(values, i) {
				 return {
				     id: i,
				     values: values
				 };
			     })
			     .value();
	       
	       //console.log(dates);
	       //console.log(series);
	       
	       // call fun
	       fun(plot, dates, series, interval);
	       
	   })
      .done(function() {
	  console.log("Got data @" + last_date.toFixed(2) + "s.");
      })
      .fail(function() {
	  alert("Could not get data from controller!");
      });
 };
 
 $(window).on("beforeunload", function() {

     var wait = true;
     
     $.get("{{ baseurl }}/remove/sink/_scope",
	   function(data) {
	       
	       if (data.status == "error") {
		   console.log("Could not remove sink. Message = " + data.message);
		   return
	       }
	       
	   })
      .done(function() {
	  console.log("Logger successfully removed");
	  wait = false;
      })
      .fail(function(error) {
	  console.log(error);
	  alert("Could not remove logger!" + error);
	  wait = false;
      });
     
     setTimeout(function() {
	 alert("Timed out");
	 wait = false;
     },
		1000);
     
     while (wait) {
	 /* wait */
     }
     
     return;
     
 });
 
 // start controller
 function start() {
     $.get("{{ baseurl }}/start")
      .done(function() {
	  console.log("Controller started.");

	  // will get data every 5 seconds
	  console.log("Retrieving initial data...");
	  setTimeout(function() { get_data(create_plot, 1000); }, 1000);

      })
      .fail(function() {
	  alert("Could not start controller!");
      });
 };

 // ready?
 $(document).ready(function(){

     console.log("Installing logger...");

     if (!('clock' in signals)) {
	 signals.push('clock');
     }
     
     var jqxhr = $.get("{{ baseurl }}/add/sink/_scope/pyctrl.block/Logger",
		       {
			   "inputs":
			   JSON.stringify(signals),
			   "kwargs":
			   JSON.stringify({"auto_reset": true})
		       },
		       function(data) {
			   if (data.status != "success") {
			       alert("Could not install logger. Message = " + data.message);
			       return
			   }
		       })
		  .done(function() {
		      console.log("Logger succesfully installed.");

		      // start controller
		      console.log("Starting controller...");
		      start()
		      
		  })
		  .fail(function() {
		      alert("Could not install logger!");
		  });
     
 });
 
</script>
